a.navbar-brand {
    color: #ffffff;
}

a.nav-link active {
    color: #ffffff;
}

.jumbotron {
    text-align: center;
    background: none;
}
.sectionLight {
    background-color: #eceeef;
    padding: 2em;
}

.img-fluid {
    height:50%;
}
.imgSide {
    display: block;
    margin: auto;
}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
}

.coolStuffwrapper {
    margin-top: 20px;
}

button.coolStuffBtn {
    background-color: red;
    color: #ffffff;
    display: block;
    margin: auto;
}
h1.modal-title {
    margin: auto;
}
.modelFormwrapper {
    padding: 2rem;
}

.imgCenter {
    display: block;
    margin: auto;
}
.btnCenter {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 55%;
}

.bg-inverse {
    background-color: lightslategrey;
}

.footerimg {
    padding: 10px;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-google-plus-square {
    color: #c32f10;
}
.fa-instagram {
    color: #ffffff;
}
.fa {
    margin: 10px;
}
.socialWrapper {
    margin: auto;
}
